# Core functionality - changes here should be rare!
/src/app.py                   @Souvik1064
/src/backend/database.py      @Souvik1064
/src/backend/routers/auth.py  @Souvik1064

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Souvik1064
